@import '../../mixins.scss';

.combo {
  display: inline-flex;
  position: relative;
}

.fullWidth {
  width: 100%;
}

.menu {
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  background-color: white;
  border: 1px solid silver;
  max-height: 200px;
  overflow: auto;
}

.item {
  @include activeElement;

  cursor: pointer;
  padding: 8px 16px;
}

.highlighted {
  color: $activeHighlightedColor;
}

.button {
  width: 32px;
  position: absolute;
  right: 0;
  height: 100%;
}

.input {
  padding-right: 32px;
}
