.visibilityButton {
  visibility: hidden;
  cursor: pointer;
  font-size: 0;
}

.category {
  display: flex;
  align-items: center;

  &:hover {
    .visibilityButton {
      visibility: visible;
    }
  }
}

.name {
  margin-left: 24px;
}

.categoryName {
  font-weight: bold;
  width: 100%;
  color: rgb(68, 0, 0);
}

.income {
  color: rgb(0, 59, 0);
}

.hidden {
  opacity: 0.6;
}
