.visibilityButton {
  display: none;
}

.category {
  display: flex;

  &:hover {
    .visibilityButton {
      display: inline-flex;
      cursor: pointer;
    }
  }
}

.categoryName {
  font-weight: bold;
  width: 100%;
}

.name {
  margin-left: 24px;
}

.income {
  color: rgb(0, 59, 0);
}

.expenses {
  color: rgb(68, 0, 0);
}
