.headerCell {
  display: flex;
  align-items: center;
}

.headerTitle {
  font-weight: bold;
  flex: 1;
}

.highlightedCell {
  background-color: rgb(242, 244, 255) !important;
}

.firstMonthCell {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

:global {
  .mdc-data-table__row {
    height: 46px;
  }
}
