.visibilityButton {
  @media (hover: hover) {
    visibility: hidden;
    opacity: 0;
  }
}

.category {
  display: flex;
  align-items: center;
  min-width: 230px;
  min-height: 40px;

  &:hover {
    .visibilityButton {
      visibility: visible;
      opacity: 1;
    }
  }
}

.name {
  margin-left: 16px;
  white-space: normal;
  flex: 1;
}

.categoryName {
  font-weight: bold;
  width: 100%;
}

.income {
  color: rgb(8, 112, 8);
}

.hidden {
  opacity: 0.5;
}

.editButton {
  @media (hover: hover) {
    visibility: hidden;
    opacity: 0;
  }
}

.nameCell {
  display: flex;
  min-height: 40px;
  align-items: center;

  &:hover {
    .editButton {
      visibility: visible;
      opacity: 1;
    }
  }
}
